@import url(../libs/normalize-css/normalize.css);
@font-face {
  font-family: 'roboto';
  src: url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"); }

@font-face {
  font-family: 'roboto';
  src: url("../fonts/RobotoLight/RobotoLight.ttf") format("ttf");
  font-weight: 300; }

@font-face {
  font-family: 'roboto';
  src: url("../fonts/RobotoBold/RobotoBold.woff") format("woff");
  font-weight: bold; }

* {
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  margin: 0 auto;
  font-family: 'roboto';
  line-height: 28px;
  font-size: 15.5px; }
  body h1, body h2, body h3 {
    font-family: 'roboto';
    font-weight: normal;
    font-size: 40px;
    line-height: 1.2; }

.container {
  max-width: 1366px;
  margin: 0 auto; }

.copyright .logo {
  background-position: top;
}

.light-text {
  font-weight: 300; }

.bold-text {
  font-weight: bold; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

.grid {
  display: grid; }

.blog .container .works, .blog .container .history, .blog .container .verified {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.blog .container .works::before, .blog .container .history::before, .blog .container .verified::before, .about .copyright::before, .about .contact::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #393f43;
  opacity: 0.75; }

.main-header .container.grid {
  grid-template-columns: 2fr 1fr;
  min-height: 715px; }

.main-header .main-img {
  background-repeat: no-repeat; }

.main-header .preview {
  padding: 57px 53px;
  background-color: #f3f3f3; }
  .main-header .preview h1, .main-header .preview h2, .main-header .preview h3 {
    margin-top: 75px;
    margin-bottom: 50px;
    max-width: 280px;
    font-size: 40px;
    color: #262f32; }
  .main-header .preview p {
    padding-left: 15px;
    margin-top: 40px;
    font-size: 18px; }

.btn-hamburger {
  font-size: 0;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #fff;
  width: 33px;
  height: 29px; }

.blog .container.grid {
  min-height: 853px;
  grid-template-columns: 1fr 1fr; }

.blog .container .works {
  position: relative;
  padding-top: 35px;
  padding-bottom: 35px;
  color: #fff;
  grid-row: 1/3; }
  .blog .container .works::before {
    background-color: #4898a5;
    opacity: 0.75;
    transition: opacity .5s ease; }
  .blog .container .works:hover::before {
    opacity: 0.65; }
  .blog .container .works-item {
    grid-template-rows: 1fr 2fr;
    z-index: 1;
    padding-top: 35px;
    padding-left: 60px;
    padding-right: 100px;
    padding-bottom: 35px; }
    .blog .container .works-item h1, .blog .container .works-item h2, .blog .container .works-item h3 {
      margin: 0;
      padding: 0; }
    .blog .container .works-item p {
      margin: 0;
      padding: 0;
      padding-top: 15px; }

.blog .container .history {
  position: relative;
  background-color: #f4e8c8;
  color: #262f32;
  padding-top: 70px;
  padding-left: 60px;
  padding-right: 100px;
  padding-bottom: 70px; }
  .blog .container .history::before {
    background-color: #f4e8c8;
    opacity: 0.75;
    transition: opacity .5s ease; }
  .blog .container .history:hover::before {
    opacity: .65; }
  .blog .container .history-item {
    z-index: 1;
    grid-template-rows: 0.5fr 1.5fr 0.5fr; }
  .blog .container .history h1, .blog .container .history h2, .blog .container .history h3 {
    margin: 0;
    padding: 0; }
  .blog .container .history p {
    margin: 0;
    padding: 0;
    padding-top: 15px; }

.blog .container .verified {
  position: relative;
  background-position: left center;
  background-color: #393f43;
  color: #fff;
  padding-top: 70px;
  padding-left: 60px;
  padding-right: 100px;
  padding-bottom: 70px; }
  .blog .container .verified::before {
    background-color: #393f43;
    opacity: 0.75;
    transition: opacity .5s ease; }
  .blog .container .verified:hover::before {
    opacity: .65; }
  .blog .container .verified-item {
    z-index: 1;
    grid-template-rows: 0.5fr 1.5fr 0.5fr; }
  .blog .container .verified h1, .blog .container .verified h2, .blog .container .verified h3 {
    margin: 0;
    padding: 0; }
  .blog .container .verified p {
    margin: 0;
    padding: 0;
    padding-top: 15px; }

.about .container.grid {
  min-height: 715px;
  grid-template-columns: 1fr 2fr; }

.about .copyright {
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  padding-top: 75px;
  padding-left: 50px;
  padding-right: 100px;
  padding-bottom: 75px; }
  .about .copyright::before {
    background-color: #2b4f5e;
    opacity: 0.75;
    transition: opacity .5s ease; }
  .about .copyright:hover::before {
    opacity: 0.65; }
  .about .copyright .copyright-item {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1; }
  .about .copyright .author h1, .about .copyright .author h2, .about .copyright .author h3 {
    padding: 20px 0 10px 0; }
  .about .copyright h1, .about .copyright h2, .about .copyright h3 {
    margin: 0;
    padding: 0; }
  .about .copyright p {
    margin: 0;
    padding: 0; }

.about .contact {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  color: #fff;
  padding-top: 75px;
  padding-left: 50px;
  padding-right: 100px;
  padding-bottom: 75px; }
  .about .contact::before {
    background-color: #5a665f;
    opacity: 0.75;
    transition: opacity .5s ease; }
  .about .contact:hover::before {
    opacity: 0.65; }
  .about .contact .contact-item {
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .about .contact h1, .about .contact h2, .about .contact h3 {
    margin: 0;
    padding: 0; }
  .about .contact p {
    margin: 0;
    padding: 0; }
  .about .contact form {
    margin: 0;
    padding: 0; }
    .about .contact form div {
      margin: 0;
      padding: 0; }
    .about .contact form input {
      margin: 0;
      margin-right: 7px;
      box-sizing: border-box;
      min-width: 304px;
      height: 57px;
      border: none;
      border: 1px solid #fff;
      border-radius: 15px;
      background-color: transparent;
      padding: 22px 27px;
      color: #fff;
      font-family: inherit; }
      .about .contact form input::placeholder {
        color: #fff; }
    .about .contact form textarea {
      margin: 0;
      margin-top: 13px;
      box-sizing: border-box;
      min-width: 619px;
      height: 161px;
      border: none;
      border: 1px solid #fff;
      border-radius: 15px;
      background-color: transparent;
      padding: 22px 27px;
      color: #fff;
      font-family: inherit; }
      .about .contact form textarea::placeholder {
        color: #fff; }
  .about .contact .social {
    display: flex;
    flex-direction: column; }
    .about .contact .social .social-list {
      margin-top: 20px;
      margin-bottom: 30px; }
      .about .contact .social .social-list a {
        text-decoration: none; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1224px) {
  .main-header .container.grid {
    grid-template-columns: 1fr 1fr; }
  .about .container.grid {
    grid-template-columns: 1fr; }
  .about .copyright {
    background-position: center bottom;
    background-size: cover; }
    .about .copyright .copyright-item {
      text-align: center; }
      .about .copyright .copyright-item .author {
        margin-top: 40px; }
  .about .contact {
    padding-left: 0;
    padding-right: 0;
    background-position: center; }
    .about .contact .contact-item {
      padding: 0 20px;
      margin: 0 auto;
      text-align: center; }
      .about .contact .contact-item form {
        margin-top: 40px;
        margin-bottom: 40px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .main-header .container.grid {
    grid-template-columns: 1fr; }
    .main-header .container.grid .main-img {
      background-size: cover;
      min-height: 561px; }
  .main-header .preview {
    margin: 0; }
    .main-header .preview h1 {
      padding-top: 20px;
      padding-bottom: 20px;
      text-align: center;
      max-width: 100%;
      margin: 0 auto; }
    .main-header .preview p {
      margin: 50px auto;
      max-width: 800px; }
  .blog .container.grid {
    grid-template-columns: 1fr; }
  .blog .container .works {
    padding-top: 70px;
    padding-bottom: 70px; }
  .blog .container .history {
    padding-top: 100px;
    padding-bottom: 100px; }
  .blog .container .verified {
    padding-top: 100px;
    padding-bottom: 100px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .about .copyright {
    background-position: center bottom;
    background-size: cover; }
    .about .copyright .copyright-item h1 {
      margin: 0 auto;
      max-width: 400px; }
  .about .contact form input {
    min-width: 100px;
    margin-top: 10px;
    width: 100%; }
  .about .contact form textarea {
    min-width: 100px;
    width: 100%; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .about .copyright {
    background-position: center bottom;
    background-size: cover; }
    .about .copyright .copyright-item h1 {
      margin: 0 auto;
      max-width: 400px; }
  .about .contact form input {
    min-width: 100px;
    margin-top: 10px;
    width: 100%; }
  .about .contact form textarea {
    min-width: 100px;
    width: 100%; } }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
